*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ol, ul, menu, summary {
    list-style: none;
}

:root {
        /* Site Colors */
        --white: #f8f7f3ff;
        --grey: #dfdbceff;
        --black: #050405ff;
        --gold: #ebc139ff;
}

img {
    max-width: 100%;
    display: block;
}

body {
	min-height: 100svh;
	background:var(--black);
	color:var(--white);
}

.site-header {
    background-image: url(../images/Picture1.jpg);
    background-position:left 135rem top 48rem;
    font-size: medium;
}

.site-header > div {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header-img {
    width: 30rem;
    background-color: var(--black);
}

div {
	padding: 1rem;
	background: transparent;
}

nav {
	padding: 1rem;
	color: white;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color:var(--black);
}

a {
    color: var(--white)
}
  
a:hover {
    color:var(--gold);
}

a {
	text-decoration: none;
}

.container {
    max-width: 60rem;
    margin-inline: auto;
    padding: 1.5rem;
}

.site-main {


}

.section-about {

}

.section-work {

}

.section-contact {

}