*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ol, ul, menu, summary {
    list-style: none;
}

:root {
        /* Site Colors */
        --white: #f8f7f3ff;
        --grey: #dfdbceff;
        --black: #050405ff;
        --gold: #ebc139ff;
}

img {
    max-width: 100%;
    display: block;
}

body {
	min-height: 100svh;
	background:var(--black);
	color:var(--white);
}

p {
    line-height: 1.5;
}

div {
	padding: 1rem;
	background: transparent;
}

nav {
	padding: 1rem;
	color: white;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color:var(--black);
    padding: .5rem;
}

a {
    color: var(--white);
    text-decoration: none;
}
  
a:hover {
    color:var(--gold);
}

section {
    padding: 4rem;
    background-color: var(--grey);
    color: var(--black);
}

.site-header {
    background-image: url(../images/Picture1.jpg);
    background-position:left 135rem top 48rem;
    font-size: medium;
}

.site-header > div {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header-img {
    width: 30rem;
    background-color: var(--black);
}

.container {
    max-width: 60rem;
    margin-inline: auto;
    padding: 1.5rem;
}


.section-about {
   display: flex;
   align-items: start;
   gap: 2rem;
}

.section-about-img {
    width: 8rem;
}

.section-work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.section-work-project {
    width: 100%;
    min-height: 12rem;
}

.section-work-project:first-child {
    grid-column: span 3;
}

.work-link {
    display: block;
    height: 100%;
    width: 100%;
}

.work-link > span {
    display: flex;
    padding: 2rem;
    height: 100%;
    justify-content: start;
    align-items: end;
    font-size: 2rem;
}

.section-work-project-1 {
    background-image: url("../images/Work1.jpg");
    background-position: cover;
}

.section-work-project-2 {
    background-image: url("../images/Work2.jpg");
    background-position: cover;
    background-repeat: no-repeat;
}

.section-work-project-3 {
    background-image: url("../images/Work3.jpg");
    background-position: center;
    background-repeat: no-repeat;

}

.section-work-project-4 {
    background-image: url("../images/Work4.jpg");
    background-position: left;
    background-repeat: no-repeat;
}
